<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Storage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F2E0F041E3888FA00B63C71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F2E0F181E3888FA00B63C71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F2E0F231E3888FA00B63C71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F40D7F623560D82003D8E7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F6C3D5623571DC600CCAA57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F6C3D682357510C00CCAA57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F905E8523565D26002FDAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
